tr {
	Vertical-Align: top;
}

td {
	Vertical-Align: top;
}

h1 {
	Font-Size: 3.5ex;
	Line-Height: 1em;
	Color: #000044;
}

h2 {
	Font-Size: 2.5ex;
	Line-Height: 1em;
	Color: #440000;
}

h3 {
	Font-Size: 2ex;
	Color: #440044;
}

.pkg-total {
	Color: green;
}

.pkg-built {
	Color: green;
}

.pkg-failed {
	Color: red;
}

.pkg-faileddeps {
	Color: orange;
}

.breaks {
	Color: red;
}

.infobox {
        float: right;
        margin-left: 2ex;
        margin-top: 1ex;
        margin-bottom: 1ex;
        padding: 1ex 1ex;
        border: 1px solid #aaa;
}
